button[data-post-id] {
    display: inline-block;
    padding: 4px 10px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #000;
    background-color: #fff;
    border-color: #ddd;
    outline: 0
}

/* Liked and Loved */
.like-button.like {
    color: #2187e7
}

.love-button.love {
    color: #ec516c
}